.search {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search input {
    color: white;
    font-size: 1em;
    background-color: transparent;
}

@media (min-width: 800px) {
    
}