.edit_post form {
    max-width: 70%;
}

.edit_post form label input {
    background-color: transparent;
    color: white;
}

.edit_post textarea {
    background-color: transparent;
    color: white;
    resize: none;
}

.obs {
    margin: 5px 0;
    text-align: left;
    font-size: 14px;
    color: #8d8d8d;
}

.text_img {
    font-weight: bolder;
    color: #8d8d8d;
}

.img {
    margin-bottom: 1em;
    max-width: 200px;
    height: 200px;
}
@media (min-width: 800px) {
    .edit_post form {
        max-width: 50%;
    }
    
    .img {
        margin-bottom: 1em;
        max-width: 400px;
        height: 300px;
    }
}
@media (min-width: 1200px) {
    .edit_post form {
        max-width: 30%;
    }

}