.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(38, 20, 57);
    padding: 2em 2em;
}

.navbar_list {
    display: none;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    transition: all .2s;
}

.logo span {
    font-weight: bolder;
    text-transform: uppercase;
}



.menu_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_list li a {
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    background-color: rgb(38, 20, 57);
    padding: 20px 0;
    color: white;
}


.menu_list li a:hover {
    background-color: rgb(55, 36, 76);
}


.quit_btn {
    font-size: 1em;
    background-color: transparent;
    border: none;
}

.active {
    color: rgb(0, 0, 255) !important;
}



/* --- Menu --- */

.menu {
    gap: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu_icon {
    background-color: white;
    width: 30px;
    height: 3px;
}

.menu_icon.clicked:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
    transition: ease-out 0.5s;
}

.menu_icon.clicked:nth-child(2) {
    transform: scaleY(0);
}

.menu_icon.clicked:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
    transition: ease-out 0.5s;
}

.unclicked {
    transition: ease-out 0.5s
}

.hidden {
    display: none;
}



@media (min-width: 800px) {
    .navbar {
        padding: 2em 6em;
        box-shadow: 0 -2px 15px 0 rgba(255, 255, 255, 0.327);
    }

    .menu {
        display: none;
    }

    .logo {
        font-size: 1.7em;
    }

    .menu_list {
        display: none;
    }

    .navbar_list a,
    .navbar_list button {
        color: white;

    }

    .navbar_list {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 20px;
    }
}