.post {
    margin: 4em auto;
    width: 90%;
    max-width: 600px;
    text-align: start;
}

.post_createdby {
    font-size: 20px;
    font-style: italic;
    color: #888888;
    margin: .2em 0;
}

img {
    width: 100%;
    border-radius: 5px;
}

.post h2 {
    margin: 0;
}

.tagsArray {
    margin: 2em 0;
    display: flex;
    padding: 0;
    gap: 10px;
    list-style: none;
}
.tagsArray span {
    font-weight: bolder;
}

.post a {
    margin-right: .5em;
}