.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em 0;
}


.post {
    text-align: start;
    max-width: 80%;
}

.post_createdby {
    font-size: 20px;
    font-style: italic;
    color: #888888;
    margin: .2em 0;
}

img {
    border-radius: 5px;
}

.post h2 {
    padding: 0;
    margin: 0;
}

.tagsArray {
    margin: 2em 0;
    display: flex;
    padding: 0;
    gap: 10px;
    list-style: none;
    flex-wrap: wrap;
}

.tagsArray span {
    font-weight: bolder;
}

.post a {
    margin-right: .5em;
}

@media (min-width: 600px) {
    .post {
        max-width: 60%;
    }
}

@media (min-width: 900px) {
    .post {
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .post {
        max-width: 30%;
    }
}