.create_post form {
    max-width: 70%;
}

.create_post form label input {
    background-color: transparent;
    color: white;
}

.create_post textarea {
    background-color: transparent;
    color: white;
    resize: none;
}

.obs {
    margin: 5px 0;
    text-align: left;
    font-size: 14px;
    color: #8d8d8d;
}

@media (min-width: 800px) {
    .create_post form {
        max-width: 30%;
    }
}